.header-title {
    width: 100%;
    color: #fff;
}

.pop {
    cursor: pointer;
    &:hover {
        color: #007BFF;
    }
}

.menuIcon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}