.flex-sp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    margin-bottom: 10px;
    :global {
        .ant-tabs-content-holder {
            border: 1px solid rgb(229, 231, 235);  
            padding: 10px;
            border-top: none;
        }
        .ant-tabs-nav {
            margin-bottom: 0px;
        }
    }
    :global {
        .ant-form-item {
            margin-bottom: 5px;
        }
    }
}