.tip {
    color: rgb(179, 179, 179);
    font-size: 14px;
    font-weight: 400;
}

.tabs {
    margin-bottom: 10px;
    :global {
        .ant-tabs-content-holder {
            border: 1px solid rgb(229, 231, 235);  
            padding: 10px;
            border-top: none;
        }
        .ant-tabs-nav {
            margin-bottom: 0px;
        }
    }
}

.flexCenter {
    display: flex;
    align-items: center;
}
