.login-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('https://pic.616pic.com/bg_w1180/00/03/49/415hBNYae5.jpg');
    background-size: cover;
}

.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    padding: 24px;
    width: 400px;
}
