.generate {
    margin-left: 10px;
    min-height: 4.5em;
    border-radius: 4px;
    background-color: rgb(191, 219, 254);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #2563eb;
    font-weight: 500;
}

.generatebtn {
    height: 100%;
    width: 100%;
}

.imgbox {
    height: 200px;
    width: 100%;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    > svg {
        width: 20px;
        height: 20px;
        color: rgb(217, 217, 217);
    }
}